In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

AWS_ACCESS_KEY_ID = "ASIAWFHJWX4CYHJBFV65"
AWS_SECRET_ACCESS_KEY = "kENd8eM8UTRTGML39PwYLrqWo/d/RUll9AIgCDBE"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEHAaDJqV/FpGSwhsqoZKoSLHAUoWbX1KrWnzSJkvrZ4nbi0+bpk4Nlk3FIaK8yC+jALna10Fwxp6qyd75fJk9J6EzsGNGfMVxeHTJrpz91sgUGXNSnEeI5SRUmMjiJ2ln9AjHhuq/TKIbv73eqjdXS9Mw81mQFZ6OVHBCBSnOlve3MLyZNG5Qb+BRZXkbq9qHxaP/1g2gvGqWnvCrhxZVo+vHmTuDA/YXWAYb+mAv2QSGZfWCFteNt6gukBTwxHvhqLgR7EIHsYDBILRWYPh+tuvhMj/94Igq+Qo1v3VnAYyLY0BwfqyngQPrQ44EvE0rFOw8D8EYctOFdsWLcTEq2L0UNDJJWa3V/hKglnG1w=="

conf = SparkConf()
conf.set("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.2.2")
conf.set("spark.hadoop.fs.s3a.aws.credentials.provider", "org.apache.hadoop.fs.s3a.TemporaryAWSCredentialsProvider")
conf.set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY_ID)
conf.set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_ACCESS_KEY)
conf.set("spark.hadoop.fs.s3a.session.token", AWS_SESSION_TOKEN)

spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [3]:
pets_df = spark.read.csv("s3a://petclinic13/PetClinic_landing/P9-Pets.csv", header=True)

pets_df.show()

+-------+----------+------+------+---+-------+
|  PetID|      Name|  Kind|Gender|Age|OwnerID|
+-------+----------+------+------+---+-------+
|J6-8562|   Blackie|   Dog|  male| 11|   5168|
|Q0-2001|    Roomba|   Cat|  male|  9|   5508|
|M0-2904|     Simba|   Cat|  male|  1|   3086|
|R3-7551|    Keller|Parrot|female|  2|   7908|
|P2-7342|   Cuddles|   Dog|  male| 13|   4378|
|X0-8765|   Vuitton|Parrot|female| 11|   7581|
|Z4-5652|     Priya|   Cat|female|  7|   7343|
|Z4-4045|     Simba|   Cat|  male|  0|   2700|
|M8-7852|    Cookie|   Cat|female|  8|   7606|
|J2-3320|Heisenberg|   Dog|  male|  3|   1319|
|T2-2142|     Stowe|   Cat|female| 15|   1132|
|U4-9376|     Scout|   Dog|female|  2|   7846|
|H8-1429|      Lily|   Dog|female|  3|   7846|
|X8-9212|    Danger|   Dog|  male|  5|   3661|
|G4-8096|    Danger|   Dog|  male|  9|   9037|
|S4-9578|   Scooter|   Dog|  male|  9|   9850|
|H8-8856|    Bandit|Parrot|  male| 11|   6102|
|F6-5391|    Cookie|   Cat|female|  9|   5508|
|J0-7893|  Crockett|   Dog|  male| 12|   1334|
|Q0-3593|    Oakley|Parrot|female|  4|   4989|
+-------+----------+------+------+---+-------+
only showing top 20 rows

In [7]:
pets_df.createOrReplaceTempView("pets")

In [8]:
spark.sql("""
    select
        PetID
        , Kind
        , Gender
        , Age
        , OwnerID
        
    from
        pets
""").show()

+-------+------+------+---+-------+
|  PetID|  Kind|Gender|Age|OwnerID|
+-------+------+------+---+-------+
|J6-8562|   Dog|  male| 11|   5168|
|Q0-2001|   Cat|  male|  9|   5508|
|M0-2904|   Cat|  male|  1|   3086|
|R3-7551|Parrot|female|  2|   7908|
|P2-7342|   Dog|  male| 13|   4378|
|X0-8765|Parrot|female| 11|   7581|
|Z4-5652|   Cat|female|  7|   7343|
|Z4-4045|   Cat|  male|  0|   2700|
|M8-7852|   Cat|female|  8|   7606|
|J2-3320|   Dog|  male|  3|   1319|
|T2-2142|   Cat|female| 15|   1132|
|U4-9376|   Dog|female|  2|   7846|
|H8-1429|   Dog|female|  3|   7846|
|X8-9212|   Dog|  male|  5|   3661|
|G4-8096|   Dog|  male|  9|   9037|
|S4-9578|   Dog|  male|  9|   9850|
|H8-8856|Parrot|  male| 11|   6102|
|F6-5391|   Cat|female|  9|   5508|
|J0-7893|   Dog|  male| 12|   1334|
|Q0-3593|Parrot|female|  4|   4989|
+-------+------+------+---+-------+
only showing top 20 rows

In [9]:
pets_table = spark.sql("""
    select
        PetID
        , Kind
        , Gender
        , Age
        , OwnerID
        
    from
        pets
""")

In [11]:
pets_table.write.mode("overwrite").csv("s3a://petclinic13/pets.parquet")

In [4]:
owners_df = spark.read.csv("s3a://petclinic13/PetClinic_landing/P9-Owners.csv", header=True)

owners_df.show()

+-------+---------+----------+--------------------+-------------------+-----+---------+-------+
|OwnerID|     Name|   Surname|       StreetAddress|               City|State|StateFull|ZipCode|
+-------+---------+----------+--------------------+-------------------+-----+---------+-------+
|   6049|   Debbie|  Metivier|     315 Goff Avenue|       Grand Rapids|   MI| Michigan|  49503|
|   2863|     John| Sebastian|   3221 Perry Street|            Davison|   MI| Michigan|  48423|
|   3518|   Connie|    Pauley|1539 Cunningham C...|Bloomfield Township|   MI| Michigan|  48302|
|   3663|     Lena|Haliburton|4217 Twin Oaks Drive|      Traverse City|   MI| Michigan|  49684|
|   1070|  Jessica| Velazquez|3861 Woodbridge Lane|         Southfield|   MI| Michigan|  48034|
|   7101|   Bessie|       Yen| 30 Cunningham Court|    Rochester Hills|   MI| Michigan|  48306|
|   2419|    Luisa|   Cuellar|1308 Shingleton Road|          Kalamazoo|   MI| Michigan|  49007|
|   6194|    Karen|    Torres|  3941 Ritter Avenue|        Center Line|   MI| Michigan|  48015|
|   5833|     Mary|   Hurtado|  4865 Juniper Drive|      Saint Charles|   MI| Michigan|  48655|
|   9614|   Carmen|    Ingram|    1056 Eagle Drive|            Detroit|   MI| Michigan|  48219|
|   7581| Florence|     Nolen|  3103 Howard Street|       Grand Rapids|   MI| Michigan|  49503|
|   2755|     Anne|    Hudson|  4110 Howard Street|       Grand Rapids|   MI| Michigan|  49503|
|   9900|    Marie|     Floyd|314 Cunningham Court|         Southfield|   MI| Michigan|  48075|
|   8143|   Jackie|  Hatmaker|     949 John Avenue|       East Lansing|   MI| Michigan|  48823|
|   7908|    Paula|  Browning|4915 Prudence Street|       Lincoln Park|   MI| Michigan|  48146|
|   4989|    Sarah|    Canada|3216 Reppert Coal...|Bloomfield Township|   MI| Michigan|  48302|
|   1132|     Rosa|   Quarles|4791 Tennessee Av...|         Southfield|   MI| Michigan|  48034|
|   8830|Elizabeth|   Griffin|  2222 Daylene Drive|         Southfield|   MI| Michigan|  48075|
|   7663|    Julia|     Gowan|     1342 Ben Street|            Lansing|   MI| Michigan|  48933|
|   9385|    Joyce|     Lopez|    1622 Goff Avenue|          Kalamazoo|   MI| Michigan|  49007|
+-------+---------+----------+--------------------+-------------------+-----+---------+-------+
only showing top 20 rows

In [12]:
owners_df.createOrReplaceTempView("owners")

In [13]:
owners_table = spark.sql("""
    select
        *
                
    from
        owners
""")

In [14]:
owners_table.write.mode("overwrite").csv("s3a://petclinic13/owners.parquet")

In [5]:
pdetail_df = spark.read.csv("s3a://petclinic13/PetClinic_landing/P9-ProceduresDetails.csv", header=True)

pdetail_df.show()

+---------------+----------------+--------------------+-----+
|  ProcedureType|ProcedureSubCode|         Description|Price|
+---------------+----------------+--------------------+-----+
|    OFFICE FEES|               1|         Office Call|   32|
|    OFFICE FEES|               2|           Emergency|  100|
|    OFFICE FEES|               3|                Reck|   24|
|       GROOMING|               1|                Bath|   15|
|       GROOMING|               2|            Flea Dip|   15|
|       GROOMING|               3|          Flea Spray|   10|
|   VACCINATIONS|               1|     Galaxie (DHLPP)|   15|
|   VACCINATIONS|               2|            Leukemia|   20|
|   VACCINATIONS|               3|                Lyme|   15|
|   VACCINATIONS|               4|                 PCR|   15|
|   VACCINATIONS|               5|              Rabies|   10|
|   VACCINATIONS|               6|          Bordetella|   10|
|HOSPITALIZATION|               1| All Hospitalization|   25|
|     ORTHOPEDIC|               1|Amput. per lim thor.|  400|
|     ORTHOPEDIC|               2|             Casting|   97|
|     ORTHOPEDIC|               3|          Re-Casting|   62|
|     ORTHOPEDIC|               4|    Fem. head Ostec.|  420|
|     ORTHOPEDIC|               5|   Lx Patella Repair|  305|
|     ORTHOPEDIC|               6|    Metamason Splint|   50|
|     ORTHOPEDIC|               7|        Pinning-I.M.|  325|
+---------------+----------------+--------------------+-----+
only showing top 20 rows

In [6]:
phistory_df = spark.read.csv("s3a://petclinic13/PetClinic_landing/P9-ProceduresHistory1.csv", header=True)

phistory_df.show()

+-------+----------+-----------------+----------------+
|  PetID|      Date|    ProcedureType|ProcedureSubCode|
+-------+----------+-----------------+----------------+
|S4-1063| 10/1/2016|     VACCINATIONS|               5|
|L4-6292| 11/1/2016|     VACCINATIONS|               5|
|N6-7350| 11/1/2016|     VACCINATIONS|               5|
|H8-1429| 11/1/2016|     VACCINATIONS|               5|
|S4-2254| 12/1/2016|  HOSPITALIZATION|               1|
|J6-8562| 12/1/2016|     VACCINATIONS|               5|
|L8-0046| 12/1/2016|     VACCINATIONS|               5|
|J2-3320| 12/1/2016|     VACCINATIONS|               5|
|F6-5391| 12/1/2016|     VACCINATIONS|               5|
|M4-9675| 12/1/2016|GENERAL SURGERIES|               6|
|P7-2443| 12/1/2016|GENERAL SURGERIES|               3|
|S4-2254|13/01/2016|     VACCINATIONS|               5|
|I2-7926|13/01/2016|     VACCINATIONS|               5|
|M0-2904|13/01/2016|     VACCINATIONS|               5|
|U4-5113|13/01/2016|     VACCINATIONS|               5|
|K0-8177|13/01/2016|     VACCINATIONS|               5|
|U4-9376|13/01/2016|     VACCINATIONS|               5|
|S5-5938|13/01/2016|     VACCINATIONS|               5|
|O3-1895|13/01/2016|     VACCINATIONS|               5|
|X8-9212|13/01/2016|GENERAL SURGERIES|              14|
+-------+----------+-----------------+----------------+
only showing top 20 rows

In [15]:
pdetail_df.createOrReplaceTempView("pdetail")
phistory_df.createOrReplaceTempView("phistory")

In [16]:
pdetail_table = spark.sql("""
    select
        *
                
    from
        pdetail
""")

In [17]:
phistory_table = spark.sql("""
    select
        *
                
    from
        phistory
""")

In [18]:
pdetail_table.write.mode("overwrite").csv("s3a://petclinic13/pdetail.parquet")
phistory_table.write.mode("overwrite").csv("s3a://petclinic13/phistory.parquet")